.input {
   border: 2px solid rgb(184, 161, 161)!important;
   color: rgb(76, 100, 30)!important;
}

.description{
   width: 100%;
   margin: 15px 0;
   border: 2px solid rgb(184, 161, 161)!important;
}
